<div class="container">
  <div class="d-flex mt-3">
    <app-back></app-back>
    <h1 class="title-sections ml-2">Agregar Cliente</h1>
  </div>

  <form #f="ngForm" name="f" (ngSubmit)="upsert()">
    <div class="row mt-4">
      <div class="col-lg-3 col-md-6 col-sm-12">
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Nombre</mat-label>
          <input
            trim
            name="name"
            [(ngModel)]="model.name"
            #name="ngModel"
            required
            autocomplete="name"
            type="text"
            required
            matInput
            placeholder="Nombre"
            [disabled]="id && currentRol == 'MOD'"
          />
        </mat-form-field>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-12">
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Apellido</mat-label>
          <input
            trim
            name="surname"
            [(ngModel)]="model.surname"
            #surname="ngModel"
            required
            autocomplete="surname"
            type="text"
            required
            matInput
            placeholder="Apellido"
            [disabled]="id && currentRol == 'MOD'"
          />
        </mat-form-field>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-12">
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Telefono</mat-label>
          <input
            trim
            name="phone"
            [(ngModel)]="model.phone"
            #phone="ngModel"
            required
            autocomplete="phone"
            type="text"
            required
            matInput
            placeholder="Telefono"
          />
        </mat-form-field>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-12 text-center">
        <button class="mt-1 button-success" type="submit" mat-raised-button>
          Guardar
        </button>
      </div>
    </div>
  </form>
</div>
