<div class="container">

    <ng-container *ngIf="serviceList.length>0">

        <div *ngFor="let service of serviceList">
            <div class="card">
                <div class="d-flex mb-2">
                    <div class="title d-flex justify-content-start w-100">Servicio</div>
                    <div class="title d-flex justify-content-end w-100">Precio</div>
                </div>
                <div class="d-flex">

                    <div class="d-flex justify-content-start w-100 item">{{service.name}}</div>
                    <div class="d-flex justify-content-end w-100 item"> ${{service.price}}</div>
                </div>
            </div>
        </div>
    </ng-container>
    <ng-container *ngIf="productList.length>0">

        <div *ngFor="let product of productList">
            <div class="card">
                <div class="d-flex mb-2">
                    <div class="title d-flex justify-content-start w-100">Producto</div>
                    <div class="title d-flex justify-content-end w-100">Precio</div>
                </div>
                <div class="d-flex">
                    <div class="d-flex justify-content-start w-100 item">{{product.name}}</div>
                    <div class="d-flex justify-content-end w-100 item"> ${{product.price}}</div>
                </div>
            </div>
        </div>
    </ng-container>
    <ng-container *ngIf="total">
        <div class="container">
            <div class="text-right justify-content-end w-10"><span class="title uppercase bold">Total</span> <span
                    class="item bold">
                    ${{total}}</span></div>
        </div>

    </ng-container>

</div>