<div class="container">
  <div class="d-flex mt-4 mb-4">
    <div class="col-lg-4">
      <div class="d-flex">
        <app-back class="d-flex align-items-center"></app-back>
        <h1 class="title-sections ml-2">Lista de Usuarios Activos</h1>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-3 col-sm-12">
      <div class="justify-content-lg-start">
        <div class="d-flex w-100 mt-2 mb-3">
          <input
            class="input-store"
            matInput
            type="text"
            [locale]="{
              applyLabel: 'Aplicar',
              cancelLabel: 'Cancelar',
              format: 'DD-MM-YYYY '
            }"
            ngxDaterangepickerMd
            (change)="onDateSelected($event)"
            autocomplete="off"
            placeholder="{{ placeholder.startDate }} {{ placeholder.endDate }}"
            #daterange
          />
        </div>
      </div>
    </div>
  </div>
  <div class="" *ngIf="totalPasiveUsers">
    <div class="row mt-3">
      <div class="col-lg-5 mr-5 expenses-total">
        <div class="d-flex">
          <div class="col-lg-3">
            <img class="icon-size" src="/assets/img/icons/active.svg" alt="" />
          </div>
          <div class="col-lg-5 align-items-center d-flex">Usuarios Activos</div>
          <div
            class="col-lg-4 align-items-center d-flex text-center justify-content-end"
          >
            <span class="number">{{ totalCount }}</span>
          </div>
        </div>
      </div>
      <div class="col-lg-5 expenses-total">
        <div class="d-flex">
          <div class="col-lg-3">
            <img
              class="icon-size"
              src="/assets/img/icons/inactive.svg"
              alt=""
            />
          </div>
          <div class="col-lg-5 align-items-center d-flex">
            Usuarios Inactivos
          </div>
          <div
            class="col-lg-4 align-items-center d-flex text-center justify-content-end"
          >
            <span class="number">{{ totalPasiveUsers }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
