<ng-container *ngIf="counts">
  <div class="container">
    <div class="row mt-4 mb-4">
      <h1 class="title-sections mt-3">Panel</h1>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-12 pointer">
        <app-dashboard-card
          [route]="'/client-list'"
          [iconSrc]="'/assets/img/icons/clients.png'"
          [total]="counts.clientsCount"
          [title]="'Clientes'"
        ></app-dashboard-card>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-12 pointer" *appRole="['ADMIN']">
        <app-dashboard-card
          [route]="'/barber-list'"
          [iconSrc]="'/assets/img/icons/barber.png'"
          [total]="counts.barbersCount"
          [title]="'Barberos'"
        ></app-dashboard-card>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12 pointer" *appRole="['ADMIN']">
        <app-dashboard-card
          [route]="'/product-list'"
          [iconSrc]="'/assets/img/icons/products.png'"
          [total]="counts.productsCount"
          [title]="'Productos'"
        ></app-dashboard-card>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-lg-4 col-md-4 col-sm-12 pointer" *appRole="['ADMIN']">
        <app-dashboard-card
          [route]="'/service-list'"
          [iconSrc]="'/assets/img/icons/service.png'"
          [total]="counts.servicesCount"
          [title]="'Servicios'"
        ></app-dashboard-card>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12 pointer" *appRole="['ADMIN']">
        <app-dashboard-card
          [route]="'/office-list'"
          [iconSrc]="'/assets/img/icons/office.png'"
          [total]="counts.officesCount"
          [title]="'Sucursales'"
        ></app-dashboard-card>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12 pointer" *appRole="['ADMIN']">
        <app-dashboard-card
          [route]="'/expenses-list'"
          [iconSrc]="'/assets/img/icons/presupuesto.png'"
          [total]="counts.expensesCount"
          [title]="'Gastos'"
        ></app-dashboard-card>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-lg-4 col-md-4 col-sm-12 pointer" *appRole="['ADMIN']">
        <app-dashboard-card
          [route]="'/earning/list'"
          [iconSrc]="'/assets/img/icons/salario.png'"
          [title]="'Ganacias'"
        ></app-dashboard-card>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12 pointer" *appRole="['ADMIN']">
        <app-dashboard-card
          [route]="'/payments'"
          [iconSrc]="'/assets/img/icons/pagos.png'"
          [title]="'Pagos'"
        ></app-dashboard-card>
      </div>
    </div>
  </div>
</ng-container>
<div class="container mt-2" *ngIf="stockList?.length > 0">
  <div class="row">
    <h1 class="title-sections mt-3">Alertas Stock Productos</h1>
  </div>
  <div class="row w-100 mt-3">
    <app-stock-alert class="w-100" [stockList]="stockList"></app-stock-alert>
  </div>
</div>
